/* Importing the "normalize.css" file which is for resetting all the default css values */
@import url("./normalize.css");

/* Importing Fonts */
@import url('http://fonts.cdnfonts.com/css/lato');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

/* ******Main & Secondary Colors****** */
:root {
  --bg_color: #f5f5f5;
  --primary: #272a31;
  --secondary: #ec5242;
  --neutral: #d3d3d3;
  --lato: "lato", verdana, tahoma, sans-serif;
  --cocogoose: "cocogoose", verdana, tahoma, sans-serif;
  --verdana: verdana, tahoma, sans-serif;
  --Tahoma: tahoma, verdana, sans-serif;
  --sans-serif: sans-serif, verdana, tahoma;
}

/* **********Global Classes********** */
.container {
  font-family: var(--lato);
  font-style: normal;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* ===============================Header Section=============================== */

/* Main Header Starts Here */
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--neutral);
  box-shadow: rgb(0 0 0 / 30%) 0 2px 8px 0;
  position: relative;
  width: 100%;
  height: 5rem;
}

.menu-toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
}

.menu-toggle-btn a {
  font-size: 32px;
  text-decoration: none;
  background: transparent;
  color: var(--primary);
  cursor: pointer;
}

.side-menu {
  display: inline-block;
  height: 0; /* Will be inflated with JavaScript */
  width: 0; /* Will be inflated with JavaScript */
  border-radius: 0 70% 130px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left, var(--primary), var(--primary));
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.side-menu.active {
  height: 550px;
  width: 250px;
  position: absolute;
  opacity: 1;
  padding: 0;
}

/* !Important: The side-menu nav will be
set to display: block using JavaScript */

/* *************************************** */
.side-menu nav {
  display: none;
}

/* *************************************** */

.side-menu-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 45px 5px 5px 25px;
}

#menu_close_btn {
  font-size: 35px;
  font-weight: bold;
  color: var(--bg_color);
  position: absolute;
  top: 20px;
  left: 30px;
}

#menu_close_btn:hover {
  color: var(--secondary);
}

.side-menu-list li {
  list-style: none;
  width: 100%;
}

.side-menu-list li a {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  position: relative;
}

.side-menu-list li a::after {
  display: flex;
  width: 0;
  height: 3px;
  bottom: -10px;
  align-items: center;
  background: var(--secondary);
  content: '';
  transition: 1s;
  position: absolute;
}

.side-menu-list li a:hover::after {
  width: 90px;
  height: 3px;
  bottom: -10px;
  background: var(--secondary);
  content: '';
  position: absolute;
}

.side-menu-list .contact-sublist {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.contact-sublist ul {
  padding: 0;
}

.contact-sublist li a {
  font-size: 18px;
}

.contact-sublist li a:hover::after {
  width: 0;
}

.main-menu-list li a {
  text-decoration: none;
  color: var(--primary);
}

.contact-sublist li a:hover {
  color: var(--secondary);
}

.main-header .logo {
  box-shadow: none;
  padding: 5px;
}

#home_campaign_btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--neutral);
  background-color: var(--secondary);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

/* Main Header Starts Here */

/* =============================End of Header Section============================= */

/**********************************************************************************   */

/* =============================Start of Intro Section============================ */
.section-intro {
  display: grid;
  grid-template-rows: 1fr;
  background-image: url('../img/mobile-intro-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
  text-align: justify;
  padding: 100px 55px;
  background-color: var(--bg_color);
}

.headline {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: var(--cocogoose);
  width: 100%;
}

.home-title img {
  width: 100%;
}

.body-txt {
  font-family: var(--lato);
  font-size: 15px;
  line-height: 1.5rem;
  color: var(--primary);
  background: var(--bg_color);
  border: 4px solid #fff;
  padding: 5px;
  width: 100%;
  margin: 30px 0 0;
}

.body-txt p {
  margin: 0;
}

.location-txt {
  padding: 20px 0;
  text-align: justify;
  width: 100%;
}

.location-txt h2 {
  font-family: var(--verdana);
  font-size: 20px;
  color: var(--primary);
  width: 100%;
  margin: 10px 0 0;
}

.location-txt p {
  font-family: var(--lato);
  font-size: 15px;
  font-weight: 500;
  color: var(--primary);
  margin: 5px 0 0;
}

/* ===============================End of Intro Section============================= */

/**********************************************************************************   */

/* ===========================Start of Programs Section========================== */
.section-programs {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  background-image: url('../img/pattern_bg.png');
  background-repeat: repeat;

  /* background-position: center; */
  width: 100%;
  min-height: 950px;

  /* padding: 55px 5px; */
  padding: 75px 10px 25px;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* padding: 0; */
  padding: 0 10px 75px;
}

.section-title h2 {
  font-family: var(--lato);
  font-size: 24px;
  text-align: center;
  color: var(--neutral);
  margin: 0;
}

.speakers-title h2 {
  font-family: var(--lato);
  font-size: 24px;
  text-align: center;
  color: var(--primary);
  margin: 0;
}

#speakers-title h2 {
  color: var(--primary);
}

.underline-bar {
  width: 100px;
  height: 16px;
  border-bottom: 3px solid #ef513c;

  /* margin: 0 auto 55px; */
}

/* Card Styling Starts Here */
.program-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.speakers-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

#speaker1 {
  background-image: url(../img/speaker-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#speaker2 {
  background-image: url(../img/speaker-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#speaker3 {
  background-image: url(../img/speaker-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#speaker4 {
  background-image: url(../img/speaker-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  color: var(--neutral);
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

#program1 {
  background-image: url(../img/html-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#program2 {
  background-image: url(../img/css-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#program3 {
  background-image: url(../img/javascript-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#program4 {
  background-image: url(../img/react-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#program5 {
  background-image: url(../img/ruby-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#program6 {
  background-image: url(../img/rails-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#program7 {
  background-image: url(../img/python-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#program8 {
  background-image: url(../img/django-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#program9 {
  background-image: url(../img/kotlin-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#program10 {
  background-image: url(../img/csharp-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#program11 {
  background-image: url(../img/postgres-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#program12 {
  background-image: url(../img/nodejs-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  --padding: 1.5rem;

  padding: var(--padding);
  background:
    linear-gradient(
      hsl(0 0% 0% / 0),
      hsl(20 0% 0% / 0.3) 20%,
      hsl(0 0% 0% /1)
    );
}

.card-title {
  position: relative;
  width: max-content;
  margin: 0;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -6px;
  width: calc(100% + var(--padding));
  background-color: var(--secondary);
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-details {
  text-align: justify;
  color: rgb(255 255 255 / 0.85);
}

.card-btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--neutral);
  background-color: var(--secondary);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.card-btn:hover,
.card-btn:focus {
  background-color: var(--primary);
}

/* Card Styling Ends Here */

/* Disabling Hover Functionalities On Touch Devices */
@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 250ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title),
  .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 250ms;
  }

  .card-title::after {
    transform: scaleX(0);
  }
}

/* Disabling Hover Functionalities For Touch Devices */

/* ============================End of Programs Section============================ */

/**********************************************************************************   */

/* ===========================Start of Speakers Section=========================== */
.section-speakers {
  display: flex;
  flex-direction: column;
  background-color: var(--bg_color);

  /* width: 100%; */
  padding: 55px 10px;
}

/* ============================End of Speakers Section============================ */

footer {
  display: flex;
  flex-direction: column;
  font-family: var(--lato);
  font-size: 20px;
  margin: 0;
  padding: 45px;
  background-color: var(--primary);
  color: var(--bg_color);
  text-align: center;
}

#scrollback_top {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  text-align: right;
}

#scrollback_top img {
  width: 30%;
}

/* Hide all Desktop-Visible */
.desktop-visible {
  display: none;
}

/* ===============================End of Mobile-Styling=============================== */

/**************************************************************************************   */

/* ==============================Start of Desktop Styling============================= */
@media screen and (min-width: 768px) {
  /* Social Top Header Starts Here */
  .social-top-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary);
    width: 100%;
    height: 2.5rem;
    gap: 30px;
    padding: 5px 115px;
  }

  .social-list {
    list-style: none;
    font-size: 15px;
    padding: 0;
    margin: 0;
  }

  .social-list a {
    text-decoration: none;
    color: var(--bg_color);
    cursor: pointer;
  }

  /* Social Top Header Ends Here */

  /********************************   */

  /* Main Header Starts Here */
  .main-header {
    padding: 5px 65px;
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;
    width: 75%;
  }

  .main-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 35px;
    margin: 0;
    padding: 0;
  }

  /* Main Header Ends Here */

  /********************************   */

  /* Intro Section Starts Here */
  .section-intro {
    background-image: url('../img/desktop-intro.png');
    background-size: cover;
    background-position: center;
    height: 855px;
    padding: 95px 205px;
  }

  .headline {
    padding: 45px 0;
  }

  .home-title img {
    width: 75%;
  }

  /* .title-txt p {
    font-size: 40px;
  }

  .title-txt h1 {
    font-size: 55px;
    padding: 15px 5px;
  } */

  .body-txt {
    font-size: 19px;
    line-height: 2.5rem;
    border: 4px solid #fff;
    background-color: var(--bg_color);
    margin: 15px 0 0;
    width: calc(70%);
    padding: 10px 25px 0;
  }

  .location-txt {
    padding: 55px 5px;
    text-align: justify;
  }

  .location-txt h2 {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 35px;
    color: var(--primary);
    margin: 2px;
  }

  .location-txt p {
    font-size: 20px;
    margin: 5px 2.5px;
  }

  /* ===========================Start of Programs Section========================== */
  .program-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
  }

  footer {
    font-family: "lato", Verdana, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--primary);
    color: white;
    text-align: center;
  }

  /* Hide all Mobile-Visible */
  .mobile-visible {
    display: none;
  }
}
